---
import FirstRxjs from './first-rxjs.astro';
import RxjsObservables from './rxjs-observables.astro';

const props = Astro.props;

const rxjsComponent = {
  'first-rxjs': FirstRxjs,
  'rxjs-observables': RxjsObservables,
};

const component = () => {
  const ComponentToRender = rxjsComponent[props.key];
  return ComponentToRender;
};
---

<div>
  {
    () => {
      const ComponentToRender = rxjsComponent[props.key];
      if (ComponentToRender === undefined) {
        return <div>Component not found</div>;
      } else {
        return <ComponentToRender />;
      }
    }
  }
</div>
