---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
const posts = (await getCollection('onlyAstro')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<DefaultLayout>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li class="pb-[20px] mb-[20px]">
              <a href={`/astro/${post.slug}/`} class="flex items-center">
                <img class="mr-[15px]" width={60} src={post.data.heroImage} alt="heroImage" />
                <div>
                  <h4 class="title text-[18px]">{post.data.title}</h4>
                  <p class="date text-[14px] text-[#757575]">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</DefaultLayout>

<style is:inline>
  li:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
  }
</style>
