---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Toast from '../components/Toaster';
import Navigation from '../components/Navigation.astro';
import { ViewTransitions } from 'astro:transitions';
---

<html>
  <head>
    <BaseHead title="HI" description="HELLO" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown-dark.css"
      integrity="sha512-zb2pp+R+czM7GAemdSUQt6jFmr3qCo6ikvBgVU6F5GvwEDR0C2sefFiPEJ9QUpmAKdD5EqDUdNRtbOYnbF/eyQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <div class="flex contents-wrapper">
      <Navigation />
      <div class="overflow-hidden">
        <slot />
      </div>
    </div>
    <!--<Footer />-->
    <Toast client:load />
  </body>
</html>
