---
export const prerender = false;
import ScrollToId from '../../utils/ScrollToId.astro';
---

<div>HI</div>

<script></script>

<style>
  h6 {
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }

  div.divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #4b4b4b;
  }

  button {
    margin-top: 5px;
    background-color: #1a4a83;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 14px;
    color: #ffffff;
  }
</style>
